:root {
  --cinzaescuro: #141824;
  --azulescuro: #050b19;
  --preto: #111111;
  --branco: #ffffff;
  --cinzaclaro: #252a35;
  --azulclaro: #4626cf;
  --roxoescuro: #551a8B;
  --roxoclaro: #9e3c9e;
  --vermelho: #cd2d19;
  --cinzaclaro2: #686868;
  --azulclaro2: #6c4bff;
}
