/* _______________________________________________ CLASSES GENÉRICAS _______________________________________________ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

p,
h2,
h3,
h4,
a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
}

b {
  font-size: 20px;
  color: var(--azulclaro);
}

p {
  font-size: 18px;
}

h1 {
  font-size: 17px;
}

h6 {
  text-align: center;
  font-size: 13px;
  color: var(--cinzaclaro2);
}

/* _______________________________________________ FONTES _______________________________________________ */

.fonte1 {
  font-size: 26px;
  font-weight: bold;
}

.fonte2 {
  font-size: 20px;
  color: var(--cinzaclaro2);
}

.fonte3 {
  font-size: 20px;
  font-weight: bold;
}

.fonte4 {
  color: var(--cinzaclaro2);
  padding-top: 10px;
}

.fonte1,
.fonte2 {
  padding: 10px 0;
}

/* _______________________________________________ CABEÇALHO DA PÁGINA _______________________________________________ */

header {
  background-color: var(--cinzaescuro);
  padding: 10px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: #551a8b;
  font-size: 32px;
  margin-left: 15px;
}

.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cadastro-botao {
  background-color: var(--branco);
  color: var(--preto);
  padding: 10px;
}

.item1 {
  padding: 0 20px; 
}

/* _______________________________________________ MAIN _______________________________________________ */

/* _______ PRIMEIRA DIV DE MAIN _______ */

main {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 120px);/*Estabelecer tamanho minino no main para fixar rodapé*/
  background-color: var(--azulescuro);
}

.apresentacao {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: 150px; 
}

.container {
  max-width: 1450px; 
  margin: 0 auto; 
}

/* _______ SEGUNDA DIV DE MAIN _______ */

.fundo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--cinzaescuro);
  padding-left: 30px;
}

.filmelancamento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 40px;
}

.botao {
  background-color: var(--branco);
  width: 190px;
}

.botao a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.botao-sobre {
  color: var(--preto);
  padding: 10px;
  font-weight: bold;
}

.seta {
  width: 30px;
  margin-left: auto;
  padding-right: 10px;
}

.imgfilme {
  width: 730px;
}

/* _______ CÍRCULOS TEMPORÁRIOS DE FILMES EM LANÇAMENTO _______ */

.navlancamentos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  padding: 0 600px;
}

.circle {
  position: 100px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--cinzaclaro2);
}

.select {
  background-color: var(--branco);
}

/* _______ TERCEIRA DIV DE MAIN _______ */

.generos {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  height: 220px;
}

.item3 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 190px;
  height: 200px; 
  background-color: var(--cinzaescuro);
}

/* _______________________________________________ RODAPÉ DO PROJETO _______________________________________________ */

footer {
  width: 100%;
  padding: 15px;
  background-color: var(--cinzaescuro);
}

.cabecalho {
  height: 200px;
  width: 100%;
  background-color: var(--cinzaescuro);
}

.Desenvolvedores-desc {
  padding-top: 30px;
}

.dev {
  background-color: var(--branco);
  width: 300px;
  margin: 15px 0;
}

.dev a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* _______________________________________________ MAIN NA PÁGINA SOBRE _______________________________________________ */

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* _______ MENU NA PÁGINA SOBRE _______ */

.caminho {
  height: 60px;
}

.caminho h6 a {
  color: var(--azulclaro);
}

.caminho h6 a:hover {
  color: var(--azulclaro2);
}

.caminho img {
  height: 15px;
  margin: 0 10px;
}

.caminho .atual {
  color: var(--roxoescuro);
}

/* _______ SOBRE / QUEM DESENVOLVEU _______ */

.fundo-sobre {
  width: 100%;
  height: 100%;
  background-color: var(--azulescuro);
  padding: 35px 0 35px;
}

.sobrep p {
  padding: 15px 0;
}

.titulo {
  padding-top: 10px;
  background-color: var(--cinzaescuro);
}

/* _______ ÍCONES REDES _______ */

.icones {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.icones h4 {
  font-size: 20px;
  font-weight: bold;
}

.icones img {
  margin: -10px 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: var(--cinzaescuro);
}