*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: helvetica;
}

/*Classe para centralizar elementos e tornar FLEX*/
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Classe para tamanho padrão da página*/

.container{
    max-width: 1200px; 
    margin: 0 auto; 
    margin-top: 70px;
}

a{
    text-decoration: none;
}

p{
    color: var(--branco);
    font-size: 18px;
}

h1{
    color: var(--roxoescuro);
}

h2{
    font-size: 20px;
    color: var(--azulclaro);
}

h3{
    font-size: 20px;
    color: var(--azulclaro)
}

h4{
    font-size: 16px;
    color: var(--branco);
}

h6{
    text-align: center;
    font-size: 13px;
    color: var(--cinzaclaro2);
}

/*Estipular tamanho minimo da página*/
main{
    min-height: calc(100vh - 120px);/*Fixar rodapé da página em baixo*/
}

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--azulescuro);
}

/*MENU - LOGO - CATEGORIAS (GÊNEROS)*/

.menu-logo{
    position: absolute;
    left: 0;
    margin-left: 15px;
}

.menu{
    height: 60px;
    width: 100%;
    background-color: var(--cinzaescuro);
    padding: 0 15px;
}

.menu-genero li a{
    font-size: 17px;
    color: var(--branco);
    padding: 20px 10px;
}

.menu-genero li a:hover{
    background-color: var(--cinzaclaro);
}

header{
    height: 60px; 
    background-color: var(--cinzaescuro);
}

/*Caminho para as páginas*/

.caminho{
    height: 60px;
    
}

.caminho h3 a{
    color: var(--azulclaro);
}

.caminho h3 a:hover{
    color: var(--azulclaro2);
}

.caminho img{
    height: 15px;
    margin: 0 10px;
}

.caminho .atual{
    color: var(--roxoescuro);
}

/*Titulo e descrição do gênero*/

.titulo{
    justify-content: left;
    margin: 10px 0;
}

.icone{
    height: 45px;
    background-color: var(--cinzaclaro);
    border-radius: 10%;
    border: 2px solid var(--azulclaro);
    padding: 5px;
    margin-left: 10px;
    margin-right: 15px;
}

.desc{
    margin: 25px;
    line-height: 1.3;
    font-size: 20px;
    text-align: center;
    color: var(--cinzaclaro2);
}

/*Campo com capa dos filmes relacionado ao gênero*/

.catalogo{
    background-color: var(--cinzaescuro);
    width: 100%;
    height: 60vh;
    padding: 0 20px;
    margin-bottom: 30px;
}

.filme{
    margin: 20px 20px 0 20px;
    flex-direction: column;
}

.filme img{
    height: 50vh;
}

.filme h4{
    margin: 10px 0;
    text-align: center;
    max-width: 270px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.catalogo a:hover {
    background-color: var(--cinzaclaro);
}

.catalogo a:hover h4 {
    color: var(--vermelho);
}

/*Configuração para página de cada filme*/

.filme-inf{
    width: 100%;
    height: 510px;
    align-items: normal;
}

/*PÁGINA DE CADA FILME*/
/*CAPA*/

.filme-capa{
   flex-direction: column;
   width: 30%;
}

.filme-capa img{
    height: 500px;
}

.filme-capa h4{
    margin: 10px 0;
    text-align: center;
}

/*DESCRIÇÃO*/

.filme-desc{
    width: 45%;
    padding: 5px 20px 10px 20px;
}

.filme-desc p{
    margin-bottom: 20px;
}

span{
    font-size: 20px;
    color: var(--azulclaro); 
}

.onde-assistir img{
    height: 50px;
    border-radius: 10px;
}

.onde-assistir span{
    color: var(--branco);
}

.onde-assistir p{
    font-size: 14px;
    margin: 8px;
}

.onde-assistir{
    justify-content: left;
    align-items: normal;
    padding-top: 12px;
    padding-right: 30px;
}

/*AVALIAÇÃO*/

.filme-avaliacao{
   width: 25%;
   background-color: var(--cinzaescuro);
   height: 100%;
   border-radius: 30px;
   padding: 20px;
   
}

.veiculo{
   justify-content: left;
   align-items: normal;
}

#nota{
    margin: 10px 0;
    font-size: 16px;
    color: var(--branco);
}

.veiculo img{
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.veiculo h4{
    margin: 10px;
}

.filme-avaliacao h2{
    margin-bottom: 20px;
}

hr{
    margin: 20px 0;
    border-color: var(--cinzaescuro);
}

/*SINOPSE*/

.filme-sinopse{
    width: 100%;
    margin-top: 50px;
}

.filme-sinopse p{
    margin: 30px;
    text-align: justify;
}

/*TRAILER*/

iframe{
    margin: 30px 0;
}

/*RODAPÉ*/

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--cinzaescuro);
}

